*{
  margin: 0;
  padding: 0;
}

.UpcomingFilmsList{
  height: 100vh;
  background: linear-gradient(45deg,red,green,blue,yellow,crimson) 0 0 / 1000% no-repeat;
  animation: animate 5s ease infinite;
}
.wrapper h1{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #056;
  text-align: center;
  white-space: nowrap;
  font-family: baloo;
  font-size: 72px;
}

.wrapper li {
  position: relative;
  top: 30%;
  left: 70%;
  transform: translate(-50%,-50%);
  color: #000;
  text-align: left;
  white-space: nowrap;
  font-family: baloo;
  font-size: 50px;
}

button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #000;
  background-color: dodgerblue;
  text-align: center;
  white-space: nowrap;
  font-family: baloo;
  font-size: 50px;
}
@keyframes animate {
  0%{
    background-position: 0, 30%, 0 0;
  }
  50%{
    background-position: 100%, 70%, 0 0;
  }
  100%{
    background-position: 0, 30%, 0 0;
  }
}
